<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension point="org.eclipse.lsp4mp.jdt.core.configSourceProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.providers.QuarkusConfigSourceProvider" />
   </extension>

   <extension point="org.eclipse.lsp4mp.jdt.core.projectLabelProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.providers.QuarkusProjectLabelProvider"/>
   </extension>

   <!-- Quarkus Core support -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusCoreProvider" />
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusConfigRootProvider" />
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusConfigPropertiesProvider" />
   </extension>
   
   <!-- Quarkus JAX-RS support -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.javaFeatureParticipants">
       <!-- Quarkus Java URL codeLens for JAX-RS -->
      <codeLens class="com.redhat.microprofile.jdt.internal.quarkus.jaxrs.java.QuarkusJaxRsCodeLensParticipant" />   
   </extension>
   
   <!-- Quarkus @Scheduled annotation support -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.javaFeatureParticipants">
       <!-- Java hover for the Quarkus @Scheduled annotation -->
      <hover class="com.redhat.microprofile.jdt.internal.quarkus.scheduler.java.QuarkusScheduledHoverParticipant" />   
   </extension>
   
   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.scheduler.properties.QuarkusScheduledPropertiesProvider" />
   </extension>

   <!-- Quarkus Kubernetes support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.kubernetes.properties.QuarkusKubernetesProvider" />
   </extension>

   <!-- Quarkus Container support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.container.properties.QuarkusContainerImagesProvider" />
   </extension>
   
   <!-- Quarkus Hibernate support -->
      
   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.hibernate.properties.QuarkusHibernateORMProvider" />
   </extension>

   <!-- Quarkus Cache support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.cache.properties.QuarkusCacheResultProvider" />
   </extension>      
</plugin>
