<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension point="org.eclipse.lsp4mp.jdt.core.configSourceProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.providers.QuarkusConfigSourceProvider" />
   </extension>

   <extension point="org.eclipse.lsp4mp.jdt.core.projectLabelProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.providers.QuarkusProjectLabelProvider"/>
   </extension>

   <!-- Quarkus Core support -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusCoreProvider" />
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusConfigRootProvider" />
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusConfigPropertiesProvider" />
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.core.properties.QuarkusConfigMappingProvider" />
   </extension>

   <extension point="org.eclipse.lsp4mp.jdt.core.javaASTValidators">
      <!-- Java validation for the Quarkus @ConfigMapping annotation -->
      <validator class="com.redhat.microprofile.jdt.internal.quarkus.core.java.QuarkusConfigMappingASTVisitor" />
   </extension>
   
   <!-- Quarkus JAX-RS support -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.javaFeatureParticipants">
       <!-- Quarkus Java URL codeLens for JAX-RS -->
      <codeLens class="com.redhat.microprofile.jdt.internal.quarkus.jaxrs.java.QuarkusJaxRsCodeLensParticipant" />
   </extension>
   
   <!-- Quarkus @Scheduled annotation support -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.javaFeatureParticipants">
         <!-- Java definition for the Quarkus @Scheduled annotation -->
      <definition class="com.redhat.microprofile.jdt.internal.quarkus.scheduler.java.QuarkusScheduledDefinitionParticipant" />
       <!-- Java hover for the Quarkus @Scheduled annotation -->
      <hover class="com.redhat.microprofile.jdt.internal.quarkus.scheduler.java.QuarkusScheduledHoverParticipant" />
   </extension>
   
   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.scheduler.properties.QuarkusScheduledPropertiesProvider" />
   </extension>

   <!-- Quarkus Kubernetes support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.kubernetes.properties.QuarkusKubernetesProvider" />
   </extension>

   <!-- Quarkus Container support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.container.properties.QuarkusContainerImagesProvider" />
   </extension>
   
   <!-- Quarkus Hibernate support -->
      
   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.hibernate.properties.QuarkusHibernateORMProvider" />
   </extension>

   <!-- Quarkus Cache support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.propertiesProviders">
      <provider class="com.redhat.microprofile.jdt.internal.quarkus.cache.properties.QuarkusCacheResultProvider" />
   </extension>

   <!-- Quarkus Renarde support -->

   <extension point="org.eclipse.lsp4mp.jdt.core.javaFeatureParticipants">
      <jaxrs class="com.redhat.microprofile.jdt.internal.quarkus.renarde.java.RenardeJaxRsInfoProvider"/>
   </extension>

   <!-- Quarkus Scheduled annotation -->
   
   <extension point="org.eclipse.lsp4mp.jdt.core.javaASTValidators">
      <!-- Java validation for the Quarkus @Scheduled annotation -->
      <validator class="com.redhat.microprofile.jdt.internal.quarkus.scheduler.java.QuarkusSchedulerASTVisitor" />
   </extension>
   
   <extension point="org.eclipse.lsp4mp.jdt.core.javaASTValidators">
      <!-- Java validation for the Quarkus @Scheduled annotation delay member-->
      <annotationValidator annotation="io.quarkus.scheduler.Scheduled" source="quarkus">
         <attribute name="delay" range="0" /> <!-- x >=0 -->
      </annotationValidator>
   </extension>
</plugin>
