<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   
   <!-- Delegate command handler for application.properties file -->
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.redhat.quarkus.jdt.internal.core.ls.QuarkusDelegateCommandHandler">
            <command id="quarkus.java.projectInfo"/>
            <command id="quarkus.java.propertyDefinition"/>
       </delegateCommandHandler>
   </extension>

   <!-- Delegate command handler for Java file -->
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.redhat.quarkus.jdt.internal.core.ls.QuarkusDelegateCommandHandlerForJava">
            <command id="quarkus.java.codeLens"/>
            <command id="quarkus.java.hover"/>
       </delegateCommandHandler>
   </extension>

</plugin>
