<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>

   <extension-point id="dataModelProviders"
					name="%dataModelProviders.name"
					schema="schema/dataModelProviders.exsd" />

   <!-- Delegate command handler for Qute template -->
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.redhat.qute.jdt.internal.ls.QuteSupportForTemplateDelegateCommandHandler">      
            <command id="qute/template/project"/>
            <command id="qute/template/projectDataModel"/>
            <command id="qute/template/userTags"/>            
            <command id="qute/template/javaTypes"/>
            <command id="qute/template/resolvedJavaType"/>
            <command id="qute/template/javaDefinition"/>
       </delegateCommandHandler>
   </extension>

   <!-- Delegate command handler for Java files-->
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.redhat.qute.jdt.internal.ls.QuteSupportForJavaDelegateCommandHandler">      
            <command id="qute/java/codeLens"/>
            <command id="qute/java/diagnostics"/>
            <command id="qute/java/documentLink"/>
       </delegateCommandHandler>
   </extension>
   
   <!-- Data model providers for Qute core -->
   <extension point="com.redhat.qute.jdt.dataModelProviders">
   	  <provider class="com.redhat.qute.jdt.internal.template.datamodel.CheckedTemplateSupport" />
      <provider class="com.redhat.qute.jdt.internal.template.datamodel.TemplateExtensionAnnotationSupport" />            
      <provider class="com.redhat.qute.jdt.internal.template.datamodel.TemplateFieldSupport" />
      <provider class="com.redhat.qute.jdt.internal.template.datamodel.TemplateDataAnnotationSupport" />
   </extension>

   <!-- Data model providers for Quarkus integration for Qute -->
   <extension point="com.redhat.qute.jdt.dataModelProviders">
      <provider namespaces="inject,cdi"
                description="A CDI bean annotated with `@Named` can be referenced in any template through `cdi` and/or `inject` namespaces."
                url="https://quarkus.io/guides/qute-reference#injecting-beans-directly-in-templates"
                class="com.redhat.qute.jdt.internal.extensions.quarkus.InjectNamespaceResolverSupport" />
   </extension>

</plugin>